# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Configuración sensible del frontend
aeroride/frontend/lib/services/api_config.dart

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode (opcional, comenta si querés versionar .vscode)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
android/.gradle/
android/local.properties
android/app/build/
android/app/debug
android/app/profile
android/app/release

# iOS related
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/ephemeral/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/Generated.xcconfig.d

# Env files (para claves/API privadas)
.env
.env.*

